:root {
    --color1: #05b1b1;
    --color1_05:#52339a4e ;
    --color2: #52339a;
}

header,
footer,
section {
    padding: 100px 0;
}

header {
    padding: 200px 0;
}

header,
footer {
    background: var(--color1);
    background: -moz-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: -webkit-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: linear-gradient(to right, var(--color1) 0%, var(--color2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--color1), endColorstr=var(--color2), GradientType=1);
}

.about, .sheldue, .learning, .reviews{
    background-color: #eee;
}
.color2{
    color:var(--color2)
}
.color1{
    color:var(--color1)
}
.itd_play {
    background-color: var(--color1);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    transition: all 0.5s ease;
}

.itd_play:hover {
    background-color: var(--color2);
}

.itd_triangle {
    margin-left: 3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0px 10px 20px;
    border-color: transparent transparent transparent var(--bs-white);
}

.btn-itd {
    background-color: var(--color2);
    max-width: 200px;
    margin: 0 auto;
    display: block;
    padding: 8px 30px;
    color: var(--bs-white)
}

.btn-itd:hover {
    background-color: var(--color1);
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.itd_circle {
    border: 2px solid var(--color1);
    height: 70px;
    width: 70px;
    margin: 0 auto 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itd_circle:hover{
    background-color: var(--color1);
}

.about i{
    font-size: 25px; 
    color: var(--color2)
}
.line {
    width: 100px;
    height: 3px;
    background-color: var(--color1);
    margin: 15px auto 30px;
}

.forwhom h5{
    padding: 50px;
    border: 3px solid var(--color1);
}

.accordion-button:not(.collapsed){
    color: black;
    background-color: white;
    border-color: var(--color1);
}
.accordion-button:focus{
    border-color: var(--color1);
    box-shadow: 0 0 0 0.25rem var(--color1_05);
}
/* Раздел обучений */
.learning h5{
    padding: 15px;
    border: 3px solid var(--color1);
}

.icn_j{
    max-width: 300px;
    max-height: 300px;
}

.footer i{
    font-size: 30px;
    color: white;
}
.footer i:hover{
    color: var(--color2);
}

